.style-table {
    border: 1px solid gray;
    height: 400px;
    left: 30px;
    top: 1004px;
    width: 1200px;
  
  }
  
  .style-table thead {
    border: 1px  solid #000;
    height: 70px;
    left: 30px;
    top: 900px;
    width: 1200px;
  }
  
  .style-table tbody {
    color: #a70202;
    height: 340px;
    left: 60px;
    top: 1000px;
    width: 1200px;
  }
  
  .style-table th {
    background: rgb(26, 12, 12);
    border: 1px;
    color: white;
    height: 50px;
    left: 130px;
    padding: 5px;
    text-align: center;
    top: 900px;
    width: 85px;
    word-wrap: break-word;
  }
  
  .style-table td {
    border: 0 , 0 , 1px , 0;
    border-bottom: 1px solid rgb(0, 19, 65);
    border-radius: 0 0 1px;
    height: 50px;
    left: 895px;
    padding: 5px;
    text-align: center;
    top: 1270px;
    width: 332px;
  }